$text-color: #31a354;
$background-color: #fafcd1;
$background-color-light: #fefef5;

$text-color-light: #addd8e;
$text-color-dark: #24793d;
$text-color-alert: #c51b8a;

$text-color-inverse: #f7fcb9;

$modal-backdrop-color: rgba(0,0,0,0.6);